# Dependency directories
node_modules/

# Compiled output
dist/

# TypeScript cache
*.tsbuildinfo

# VS Code settings
.vscode/

# Logs
logs/
*.log
npm-debug.log*

# Editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating System files
.DS_Store
Thumbs.db

#environment variables
.env